body {
  font-family: 'Inter', sans-serif;
}

header{
  padding: 16px 120px;
}

nav{
  width: 1140px;
  display: flex;
  align-items: center;
  margin: 0px auto;
  justify-content: space-between;
}

.logo img{
  max-width: 139px;
  height: 40px;
}

.menu{
  display: flex;
  gap: 32px;
  list-style: none;
}

.menu a{
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.menu a:hover{
  color: #469165;
}

button {
  background: #469165;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 9px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.color-green{
  color: #30B868;
}

.banner{
  position: relative;
  width:100%;
  min-height: 674px;

  background-image: url(../images/cropped-hands-woman-writing-book\ 1.png);
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  position: relative;
  text-align: center;
}
.badge {
  background: #ffffff;
  color:#30B868;        /* test color */
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
}
.banner h1{
  
  color: white;
  font-size: 52px;
  margin: 20px 0px;
  align-items: center;
  justify-content: center;
}
.banner h1 span{
  color: #30B868;
}
.banner p{
  max-width: 700px;
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.buttons{
  display: flex;
  justify-content: center;
  gap: 16px;
}
.btn-primary{
  background:#30B868;
  color: #fff;
  width: 251px;
  height: 52px;
  border: none;
  padding: 12px 16px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}
.btn-secondary {
  background: transparent;
  color: #fff;
  width: 251px;
  height: 52px;
  border: 1px solid #ffffff80;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
}

#about{
  padding: 0px 120px 0px 120px;
}
.about-container{
  text-align: center;
}
.section-heading h2{
  color: #001931;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
  gap: 16px;
}
.section-heading p{
  color: #627382;
  font-size: 16px;
  margin-bottom:44px;
  font-weight: 400;
  line-height: 20px;
}
#about .about-container .about-info{
  display: flex;
  justify-content:space-around;
  gap: 24px;
}

.about-info .info-card{
  text-align: center;
  padding: 24px 24px;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(10, 10, 10, 0.151);

}
.about-info .info-card .icon{
  background-color: #F95555;
  width:60px;
  height:60px;
  border-radius: 50%;
  margin: 0 auto 18px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.about-info .info-card h4{
  color: #001931;
  font-size: 21px;
  font-weight: 600;
}
.about-info .info-card p{
  color: #627382;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
.solution{
  padding: 120px 120px;
}
.solution-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.solution-image img{
  width: 600px;
  height: 600px;
}
.solution-content .label{
  color: #30B868;
  font-size: 14px;
  font-weight: 500px;
  line-height: 20px;
}
.solution-content h3{
  color: #001931;
  font-size: 42px;
  font-weight: 600px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.solution-content p{
  color: #627382;
  font-size: 14px;
  font-weight: 300px;
  line-height: 20px;
  margin-bottom: 40px;
}

.feature-list {
  list-style: none;
  padding: 0;
}

.feature-list li {
  font-size: 15px;
  margin-bottom: 14px;
  display: flex;
  gap: 10px;
}
.feature-list i {
  color:#30B868;
  font-size: 18px;
  margin-top: 2px;
}
.ready{
  padding: 2px 120px 120px 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ready-main{
  background-color: #F7F6F2;
  border-radius: 12px;
  width: 1140px;
  height: 384px;
  padding: 80px 40px;
  text-align: center;
}
.ready-content h1{
  font-size: 40px;
  font-weight: bold;
  color: #001931;
  margin-top: 80px;
  margin-bottom: 16px;
}
.ready-content p{
  font-size: 16px;
  line-height: 24px;
  color: #627382;
  margin-bottom: 24px;
}
.ready-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 16px;
  gap: 16px;
}

.ready-btn p{
  text-align: center;
  margin-bottom: 80px;
}
.footer{
  background-color: #001931;
  padding: 120px 120px 30px 120px;
}
.f-content{
  display:flex;
  justify-content: space-between;
}
.f-content p{
  color: #F7F6F2;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.footer-social span{
  color: #ffffff;
}
.social-icons {
  display: flex;
  margin-top: 16px;
  gap: 16px;
}
.social-icons a{
  width: 20px;
  height: 20px;
  background: #ffffff;
  color: #000;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.footer-divider {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  margin-top: 80px;
  margin-bottom: 30px;
}

.f-last{
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
